# General exclusions
.DS_Store
Thumbs.db
*.log
logs/
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables and virtual environments
.env
env/
venv
frontend/node_modules/

# Compiled files and caches
*.pyc
*.pyo
*.pyd
__pycache__/

# Django-specific exclusions
*.migrations/
media/

# Node.js-specific exclusions
node_modules/
dist/
dist-ssr/

# IDE and editor-specific exclusions
.vscode/
!.vscode/extensions.json
.idea/

# Data files (backend-specific)
backend/data/
