.app-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 300px;
  padding: 20px;
  background: white;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  z-index: 1000;
}

.map-container {
  flex: 1;
  position: relative;
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spinner-border {
  margin-left: auto;
}

.map-legend {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  z-index: 1000;
}

.map-legend h4 {
  margin: 0 0 5px;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-item i {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  display: inline-block;
  border: 1px solid black;
}


/* Custom navbar header and footer */
.navbar-custom {
  background-color: #115803; /* Solid green */
  border-bottom: 2px solid #228B22; /* Slightly darker green border */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: black !important; /* Black text */
  font-weight: bold;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .nav-link:hover {
  color: #006400 !important; /* Dark green hover effect */
}

.footer-custom {
  background-color: #115803; /* Solid green */
  text-align: center;
  color: black; /* Black text */
  padding: 1rem;
  border-top: 2px solid #228B22;
}

